@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #16161a;
  --headline: #fffffe;
  --paragraph: #94a1b2;
  --border: #010101;
  --button: #f3f4f6;
  --scroll: #010101;
  --button-border: #f3f4f6;
  --button-hover: #f3f4f6;
  --button-text: #010101;
  --button-text-hover: #fffffe;
  --card-background: #242629;
  --card-headline: #fffffe;
  --card-paragraph: #94a1b2;
  --card-tag-background: #f3f4f6;
  --card-tag-text: #fffffe;
  --card-highlight: #fffffe;
  --link-color: #f3f4f6;
  --link-hover: #f3f4f6;
  --logo-text-color: #fffffe;
  --input-background: #242629;
  --badge-background: #f3f4f6;
  --badge-text: #fffffe;
  --skeleton-color: #010101;
  --tertiary-color: #010101;
  --footer-border-color: #010101;
  --footer-background: #16161a;
  --footer-text: #72757e;
  --menu-color: #fffffe;
  --input-text: #fffffe;
  --input-border: #242629;
  --selectBox-border: #010101;
  --outline-button-text: #fffffe;
  --mark: #f3f4f6;
  --nav: #17181a;
}

body {
  font-family: "Cairo", sans-serif;
  overscroll-behavior: none;
}

html {
  overscroll-behavior: none;
}

@layer components {
  .container {
    @apply max-w-7xl max-md:px-5;
  }
}

*::selection {
  background-color: #f3f4f6;
  color: #000000;
}

.gradient-button {
  @apply bg-gradient-to-tr from-gray-100 to-gray-300 text-[var(--button-text)];
}

.bannerimg {
  transform: rotateX(0deg) rotateY(180deg) !important;
  transform-style: preserve-3d !important;
}
